<ul>
  <% @post.errors.each do |er| %>
    <li><%= er.full_message %></li>
  <% end %>
</ul>
<%= form_with model: @post do |f| %>
  <%= f.label :title, 'Title:' %>
  <%= f.text_field :title %>
  <%= f.label :body, 'Body:' %>
  <%= f.text_area :body, size: "70x5" %>
  <%= f.submit 'Post' %>
<% end %>
